apiVersion: v1
kind: Secret
metadata:
  name: product-service-secret
type: Opaque
data:
  MONGODB_URI: bW9uZ29kYitzcnY6Ly9hZGlzaGFuc2FyaThfZGJfdXNlcjpnVFBlYlp2aTRRWUVmMUczQGhlcm92aXJlZC52YnlqZ3BzLm1vbmdvZGIubmV0Lw==
  JWT_SECRET: eW91ci1qd3Qtc2VjcmV0LWtleQ==

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: adish786/product-service:latest
          ports:
            - containerPort: 3002
          env:
            - name: PORT
              value: "3002"
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: product-service-secret
                  key: MONGODB_URI
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: product-service-secret
                  key: JWT_SECRET
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  selector:
    app: product-service
  ports:
    - port: 3002
      targetPort: 3002
