name: Container Security Scan

on: [push]

jobs:
  scan:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install Trivy
        run: |
          sudo apt-get install wget -y
          wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.50.1_Linux-64bit.deb
          sudo dpkg -i trivy_0.50.1_Linux-64bit.deb

      - name: Build Image
        run: docker build -t ecommerce-app:ci .

      - name: Scan Image
        run: bash scanner/scan_image.sh ecommerce-app:ci
